@inherits MtkComponent<CounterViewModel>


<div id="componentCounterDiv">@ViewModel.CurrentCount</div>

<button id="upButton" @onclick="IncrementCount">Up</button>
<button id="downButton" @onclick="DecrementCount">Down</button>
<button id="resetButton" @onclick="ResetCount">Reset</button>